{% extends "market/base.html" %}
{% block content %}
<h2>My Cart</h2>
<ul class="cart-product-list">
    {% for item in checkout_items %}
    <li class="cart-product-item">
        <img class="cart-product-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        <div class="cart-product-info">
            <h3>{{ item.product.name }}</h3>

            {% if item.metal_price %}
            <p>{{ item.product.metal_type|title }} price per (g): €{{ item.metal_price }}/g</p>
            <p>Amount in Cart: {{ item.weight }}/g</p>
            {% else %}
            <p>Error.</p>
            {% endif %}
            <p class="product-price">€{{item.total_price}}</p>
        </div>
        <a class="remove-item" href="{% url 'cart:remove-item' item.pk %}">
            <i class="fas fa-times"></i>
        </a>

    </li>
    {% endfor %}
</ul>
<div class="final-price">
    <h3>Final Price</h3>
    <p class="product-price">€{{ vat_price }} inc.VAT</p>
    <p class="price-no-vat">€{{ final_price }} exc.VAT</p>
</div>
<div class="cart-buttons">
    <a href="{% url 'all-products' %}" class="btn btn-secondary">Continue Shopping</a>
    <a href="{% url 'cart:order-confirmed'%}" class="btn btn-primary">Pay Now</a>
</div>
{% endblock content %}