{% extends "market/base.html" %}
{% block content %}
<h2>My Cart</h2>
<ul class="cart-product-list">
    {% for item in checkout_items %}
    <li class="cart-product-item">
        <img class="cart-product-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        <div class="cart-product-info">
            <h3>{{ item.product.name }}</h3>
            
            {% if item.metal_price %}
            <p>{{ item.product.metal_type|title }}, price/(g): €{{ item.metal_price }}/g</p>
            <p>{{ item.weight }}/g</p>
            {% else %}
            <p>Error.</p>
            {% endif %}
            <p>€{{item.total_price}}</p>
        </div>    
        <a href="{% url 'cart:remove-item' item.pk %}">
            <i class="fas fa-times"></i>
        </a>
        
    </li>
    {% endfor %}
</ul>
<div>
    <h3>Final Price</h3>
    <p>€{{ vat_price }} inc.VAT</p>
    <p>€{{ final_price }} exc.VAT</p>
</div>
{% endblock content %}