{% extends "market/base.html" %}
{% block content %}
<h2>Order Confirmed</h2>

<p>Thank you for your purchase! Your order is on its way.</p>
<ul class="cart-product-list">
    {% for item in checkout_items %}
    <li class="cart-product-item">
        <img class="cart-product-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
        <div class="cart-product-info">
            <h3>{{ item.product.name }}</h3>
            
            {% if item.metal_price %}
            <p>{{ item.product.metal_type|title }} price per (g): €{{ item.metal_price }}/g</p>
            <p>Amount in Cart: {{ item.weight }}/g</p>
            {% else %}
            <p>Error.</p>
            {% endif %}
            <p class="product-price">€{{item.total_price}}</p>
        </div>    
        
    </li>
    {% endfor %}
</ul>

<div class="final-price">
    <h3>Final Price</h3>
    <p class="product-price">€{{ vat_price }} inc. VAT</p>
    <p class="price-no-vat">€{{ final_price }} exc. VAT</p>
</div>

<div class="cart-buttons">
    <!-- Button to continue shopping and clear the cart -->
    <form method="post" action="{% url 'cart:clear-cart' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Continue Shopping</button>
    </form>
</div>
{% endblock content %}