@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    background-color: #1a1919;

}

body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-size: 0.8rem;

}




/* Navbar */

.site-header {
    
    padding: 0.8rem 0;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1rem; 
}

.navbar-brand {
display: flex;
align-items: center;
color: #FFFFFF;
font-size: 1.75rem;
font-weight:600;

}

.navbar-brand > i {
    margin-right: 0.25rem;
}

.navbar-brand:hover {
    color:#ff9b3d;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 0.75rem;
}

.nav-item.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.nav-item.nav-link:hover {
    color: #ff9b3d;
}

.nav-item-alt-1 {
    background-color: #303030;
    border: 1px solid #949494;
    border-radius: 0.25rem;
}

.nav-item-alt-2 {
    color: #000000;
    background-color: #F5F5F5;
    border-radius: 0.25rem;
}

button.nav-item.nav-link {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

button.nav-item.nav-link:hover {
    background-color: #555; 
}


button.nav-item.nav-link.nav-item-alt-1:hover {
    background-color: #1f8c74; 
}

/* Home */


#welcome-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    border-bottom: solid 1px #313131;
    
}

#welcome-banner .mask {
    background-color: rgba(0, 0, 0, 0.145);
    
    
}


.home-product-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    
}

.home-product-list {
    display: flex;
    
    
    
}

/* Home Graphs */

.kitco-img {
    width: 20%;
    color: #1E1E1E;
} 



/* Home Product Items */

.home-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    
}    


.home-product-item {
    border-radius: 0.8em;
    font-size: 0.8em;
    padding: 3.5em;
    margin-bottom: 1rem;
    flex: 0 0 calc(33.33% - 1rem);
    box-sizing: border-box;
    text-decoration: none;
    color: inherit; 
    display: block;
}

.home-product-item:hover {
    background-color: #6a6a6a !important;
    cursor: pointer;
    
}

@media (max-width: 768px) {
    .home-product-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

[id^="9"] {
    background-color: #8A226F;
}
[id^="18"] {
    background-color: #984646;
}

#fine-gold {
    background-color: #B9712F;
}

#platinum {
    background-color: #27B289;
}

#palladium {
    background-color: #6479E5;
}

#silver {
    background-color: #785098;
}


/* Home Newsletter Signup */

.newsletter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #1E1E1E;
    border-top: 1px solid #313131;

}

.newsletter-div {
    text-align: center;
    padding: 2.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
}

.newsletter-form {
    margin-top:  1rem;
}

.newsletter-input {
    padding: 0.75rem;
    border-radius: 0.30rem;
    border: 1px solid #645d5d;
    width: 80%;
    max-width: 20rem;

}

.newsletter-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #6479E5;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 1rem;
}

.newsletter-btn:hover {
    background-color: #785098;
}

/* Footer */

footer {
    border-top: solid 1px #313131 ;
}



/* Profile */



.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

/* News */

.article-img {
    height: 4em;
    width: 4em;
    margin-right: 1em;
  }

/* Product Page */

.product-page {
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: center;
    padding: 2rem;

}


.card {
    
    width: 100%;
    padding: 4rem;
    background-color: #1E1E1E;
    border-bottom: 1px solid #313131;
}  
    
    
@media(max-width:768px){
        .card{width: 100%;padding: 1.5rem}}
        .row{margin: 0}
        .path{color: grey;margin-bottom: 1rem}
        .path a{color: #ffffff}.info{padding: 6vh 0vh}
@media(max-width:768px){
    .info{padding: 0}
}


.fa-star-half-full {
    color: rgb(255, 217, 0)
}

img {
    height: fit-content;
    width: 75%;
    padding: 1rem}


@media(max-width:768px) {
    img{padding: 2.5rem 0}
}

.title .col {
    padding: 0
}

.fa-heart-o {
    font-size: 2rem;
    color:#ffffffaf;
    font-weight: lighter}

#reviews {
    margin-left: 3vh;
    color: grey}

.price {
    margin-top: 2rem
}

label.radio span {
    padding: 1vh 4vh;
    background-color: rgb(54, 54, 54);
    color: grey;
    display: inline-block;
    margin-right: 2vh
}
label.radio input:checked+span {
    border: 1px solid white;
    padding: 1vh 4vh;
    background-color: rgb(54, 54, 54);
    margin-right: 2vh;
    color: #ffffff;
    display: inline-block
}
.carousel-control-prev {
    width: unset
}

.carousel-control-next {
    left: 8vh;
    right: unset;
    width: unset
}
.lower {
    margin-top: 3rem
}
.lower i { 
    padding: 2.5vh;
    margin-right: 1vh;
    color: grey;
    border: 1px solid rgb(85, 85, 85)
} 
.lower .col {
    padding: 0
}

@media(max-width:768px) {
    .lower i{padding: 2vh;
        margin-right: 1vh;
        color: grey;
        border: 1px solid rgb(85, 85, 85)
    }
}

.btn {
    background-color: transparent;
    border-color: rgba(186, 216, 125, 0.863);
    color: rgba(186, 216, 125, 0.863);
    padding: 1.8vh 4.5vh;
    height: fit-content;
    border-radius: 3px
}

.btn:focus { 
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    transition: none
}

.btn:hover {
    color: white
}

@media(max-width:768px) {
    .btn{background-color: transparent;
        border-color: rgba(186, 216, 125, 0.863);
        color: rgba(186, 216, 125, 0.863);
        padding: 1vh;
        font-size: 0.9rem;
        height: fit-content;
        border-radius: 3px}
}

a {
    color: unset
}

a:hover { 
    color: unset;
    text-decoration: none}

label.radio input{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio{cursor: pointer}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.product-blurb {
    max-width: 50%;
}