@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-size: 0.8rem;

}




/* Navbar */

nav {
    padding: 2rem, 0, 2rem, 0;
    border-bottom: solid 1px #313131;
    
}

.nav-link {
    color: #FFFFFF;

}

.nav-link:hover {
    color: #B2B2B2;

}

/* Home */


#welcome-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    border-bottom: solid 1px #313131;
    
}

#welcome-banner .mask {
    background-color: rgba(0, 0, 0, 0.145);
    
    
}


.home-product-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    
}

.home-product-list {
    display: flex;
    
    
    
}
/* Home Product Items */

.home-product-item {
    border-radius: 0.8em;
    font-size: 0.8em;
    padding: 2.5em;
    width: 100%;

    
}

#nine-gold {
    background-color: #8A226F;
}
#eight-gold {
    background-color: #984646;
}

#fine-gold {
    background-color: #B9712F;
}

#platinum {
    background-color: #27B289;
}

#palladium {
    background-color: #6479E5;
}

#fine-silver {
    background-color: #785098;
}

/* Footer */

footer {
    border-top: solid 1px #313131 ;
}


/* Product Page */

.product-page {
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: center;
    padding: 2rem;

}


.card {
    max-width: 1000px;
    width: 100%;
    padding: 4rem;
    background-color: #1E1E1E;
    border-bottom: 1px solid #313131;
}  
    
    
@media(max-width:768px){
        .card{width: 100%;padding: 1.5rem}}
        .row{margin: 0}
        .path{color: grey;margin-bottom: 1rem}
        .path a{color: #ffffff}.info{padding: 6vh 0vh}
@media(max-width:768px){
    .info{padding: 0}
}

.checked {
    color: rgb(255, 217, 0);
    margin-right: 1vh
}
.fa-star-half-full {
    color: rgb(255, 217, 0)
}

img {
    height: fit-content;
    width: 75%;
    padding: 1rem}


@media(max-width:768px) {
    img{padding: 2.5rem 0}
}

.title .col {
    padding: 0
}

.fa-heart-o {
    font-size: 2rem;
    color:#ffffffaf;
    font-weight: lighter}

#reviews {
    margin-left: 3vh;
    color: grey}

.price {
    margin-top: 2rem
}

label.radio span {
    padding: 1vh 4vh;
    background-color: rgb(54, 54, 54);
    color: grey;
    display: inline-block;
    margin-right: 2vh
}
label.radio input:checked+span {
    border: 1px solid white;
    padding: 1vh 4vh;
    background-color: rgb(54, 54, 54);
    margin-right: 2vh;
    color: #ffffff;
    display: inline-block
}
.carousel-control-prev {
    width: unset
}

.carousel-control-next {
    left: 8vh;
    right: unset;
    width: unset
}
.lower {
    margin-top: 3rem
}
.lower i { 
    padding: 2.5vh;
    margin-right: 1vh;
    color: grey;
    border: 1px solid rgb(85, 85, 85)
} 
.lower .col {
    padding: 0
}

@media(max-width:768px) {
    .lower i{padding: 2vh;
        margin-right: 1vh;
        color: grey;
        border: 1px solid rgb(85, 85, 85)
    }
}

.btn {
    background-color: transparent;
    border-color: rgba(186, 216, 125, 0.863);
    color: rgba(186, 216, 125, 0.863);
    padding: 1.8vh 4.5vh;
    height: fit-content;
    border-radius: 3px
}

.btn:focus { 
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    transition: none
}

.btn:hover {
    color: white
}

@media(max-width:768px) {
    .btn{background-color: transparent;
        border-color: rgba(186, 216, 125, 0.863);
        color: rgba(186, 216, 125, 0.863);
        padding: 1vh;
        font-size: 0.9rem;
        height: fit-content;
        border-radius: 3px}
}

a {
    color: unset
}

a:hover { 
    color: unset;
    text-decoration: none}

label.radio input{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio{cursor: pointer}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.product-blurb {
    max-width: 50%;
}