{% extends "market/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="about-section">
        <h2 class="about-title">About Precious Metals</h2>
        <p class="about-blurb">At Precious Metals, we offer you a trusted platform to buy gold,
            silver, platinum, and palladium at today's market prices.
            Whether you're an investor, collector, or simply looking to diversify your portfolio, our site provides the
            most
            up-to-date prices,
            ensuring you get the best value for your purchase.</p>

        <p class="about-blurb">Stay informed with the latest trends and insights in the precious metals market through
            our regularly updated
            news section. From market analyses to industry developments, we provide the information you need to make
            informed decisions.

            Join us at Precious Metals, where value meets security, and stay ahead in the world of precious metals.</p>
    </div>

    <section id="faq-section">
        <h2 id="faq-title">FAQ</h2>

        <div class="faq">
            <div class="question-container">
                <h3 class="question-title">What metals can I buy on Precious Metals?</h3>

                <svg width="1.75em" height="1.75em" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M16.354 5.075l-7.855 7.854-7.853-7.854 0.707-0.707 7.145 7.146 7.148-7.147 0.708 0.708z"
                        fill="#000000" />
                </svg>
            </div>
            <div class="answer-container">
                <p class="answer">
                    On Precious Metals, you can purchase a wide variety of metals, including gold, silver,
                    platinum, and palladium. We offer these metals in various forms, such as coins, bars, and bullion,
                    allowing you to choose the type that best suits your investment needs.

                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question-container">
                <h3 class="question-title">How does Precious Metals ensure I get the best prices?</h3>

                <svg width="1.75em" height="1.75em" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M16.354 5.075l-7.855 7.854-7.853-7.854 0.707-0.707 7.145 7.146 7.148-7.147 0.708 0.708z"
                        fill="#000000" />
                </svg>
            </div>
            <div class="answer-container">
                <p class="answer">
                    Precious Metals provides real-time pricing based on current market conditions. We continuously
                    monitor the market to ensure our prices reflect the most accurate and up-to-date values. This way,
                    you can be confident that you're getting the best value for your purchases.

                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question-container">
                <h3 class="question-title">How often is the news section updated?</h3>

                <svg width="1.75em" height="1.75em" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M16.354 5.075l-7.855 7.854-7.853-7.854 0.707-0.707 7.145 7.146 7.148-7.147 0.708 0.708z"
                        fill="#000000" />
                </svg>
            </div>
            <div class="answer-container">
                <p class="answer">
                    Our news section is updated weekly (sometimes more) with the latest trends, analyses, and insights from the precious
                    metals market. Whether you're tracking market movements or seeking expert opinions, our news section
                    provides the information you need to stay informed and make educated decisions.

                </p>
            </div>
        </div>
    </section>
</div>

<script src="{% static 'market/js/collapse.js' %}"></script>

{% endblock %}