{% extends "market/base.html" %}
{% block content %}

<!--Welcome Banner-->
<section id="welcome-banner" class="text-center bg-image"
    style="background-image:url('{{ MEDIA_URL }}metal-banner.jpg');">


    <div class="mask d-flex justify-content-center align-items-center h-100">
        <div>

            <h2 class="mb-3">
                Welcome to Precious Metals!
            </h2>
            <p class="mb-3">Ireland's No.1 Provider of Bullion</p>

            {% if user.is_authenticated %}

            <a data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2" href="#" role="button">Shop</a>

            {% else %}

            <a data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2" href="{% url 'register' %}"
                role="button">Sign Up</a>
            <a data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2" href="{% url 'login' %}"
                role="button">Login</a>

            {% endif %}

        </div>
    </div>


</section>


<section class="d-flex align-items-center h-100 home-product-container">
    <div>
        <h2>
            All Metals
        </h2>
        <p>Buy Now</p>
    </div>
    <div class="home-product-list">
        {% for product in products %}
        <a href="{% url 'product' product.id %}" id="{{ product.name|slugify }}" class="home-product-item">
            <h3>{{ product.name }}</h3>
            <p>{{ product.blurb }}</p>
        </a>
        {% endfor %}
    </div>
</section>
<section class="newsletter-section">
    <div class="newsletter-div">
        <div>
            <h2>Follow the Latest Metal Trends</h2>
            <p>New Article Every Week</p>
        </div>
        <div>
            <form class="newsletter-form" method="post" action="{% url 'subscribe' %}">
                {% csrf_token %}
                <input class="newsletter-email" type="email" name="email" placeholder="user@example.com" required>
                <button class="newsletter-btn" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</section>


{% endblock %}