{% extends "market/base.html" %}
{% load static %}

    {% block content %}
    <section>
        <div>
            <h2>
                Welcome to Precious Metals
            </h2>
            <p>Placeholder</p>


        </div>
        <div>
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>

    </section>

        <section>
            <div>
                <h2>
                    All Metals
                </h2>
                <p>Buy Now</p>

            </div>
            <div>
                <div>
                    <h3>Product</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Product</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Product</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Product</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Product</h3>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Product</h3>
                    <p>Description</p>
                </div>

            </div>
        </section>
        <section>
            <div>
                <div>
                    <h2>Follow the Lastest Metal Trends</h2>
                    <p>New Article Every Week</p>
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </div>
        </section>

    

    {% endblock %}